<!DOCTYPE html>
{% extends 'my_app/base.html' %}
{% block head %}
<title>Search Movement</title>
{% endblock %}



{% block body_block %}


<div class="container">
    <p>Search Movement Page</p>
    <p>You can find movement and trace it back</p>
    <form id="search_movement_form" method="POST">
        {% csrf_token %}
        {{ search_movement_form.as_p }}
        <input class="btn" type="submit" value="Search Movement" name="search_movement_submit">
    </form>
    <br>
    <br>
</div>



<div class="container">
    <p>Movement Search Result</p>        
    <table id="search_movement_info" class="table">
        <thead>
            <th>Sequence</th>
            <th>Quantity</th>
            <th>Product</th>
            <th>Movement Date</th>
            <th>Source Warehouse</th>
            <th>Destination Warehouse</th>
        </thead>

        <tbody>
            <tr>

            </tr>
        </tbody> 
    </table>
</div>





<div class="container">
    <p>The movement trace back</p>        
    <table id="movement_trace_back" class="table">
        <thead>
            <th>Source</th>
            <th>Destination</th>
            <th>Quantity</th>
        </thead>

        <tbody>
            <tr>

            </tr>
        </tbody>    
    </table>
</div>
{% endblock %}


{% block script %}
<script type="text/javascript">
    $(document).ready(function(){
        $('#search_movement_form').submit(function(e){
            e.preventDefault();

            var serializedData = $(this).serialize();
            $.ajax({
                type: 'POST',
                url: "{% url 'my_app:search_movement' %}",
                data: serializedData,
                success: function(response){
                    $('#search_movement_form').trigger('reset');
                    for (var i=0; i<response['ser_search_movement_list'].length;i++){
                        var ser_search_movement_list = JSON.parse(response['ser_search_movement_list'][i]);
                        var search_movement_fields = ser_search_movement_list[0]['fields'];
                        $('#search_movement_info tbody').prepend(
                        `<tr>

                        <td>${search_movement_fields["order.sequence"]||""}</td>
                        <td>${search_movement_fields["quantity"]||""}</td>
                        <td>${search_movement_fields["product"]||""}</td>
                        <td>${search_movement_fields["movement_date"]||""}</td>
                        <td>${search_movement_fields["source"]||""}</td>
                        <td>${search_movement_fields["destination"]||""}</td>
                        
                        </tr>`
                    )
                    }
                    // alert(response['ser_result_trace_back'].length)
                    for (var i=0; i<response['ser_result_trace_back'].length;i++){
                        var ser_result_trace_back = JSON.parse(response['ser_result_trace_back'][i])
                        var trace_back_fields = ser_result_trace_back[0]['fields'];
                        
                    $('#movement_trace_back tbody').prepend(
                        `<tr>
                        <td>${trace_back_fields["source"]||""}</td>
                        <td>${trace_back_fields["destination"]||""}</td>
                        <td>${trace_back_fields["quantity"]||""}</td>
                        </tr>`
                    )    
                    }                                           
                },
                error: function(response){
                    console.log(response)
                }
            });            
        });
    });


    $(document).ready(function(){

    })

</script>
{% endblock %}


